<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trobify">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trobify">
        <activity android:name=".controladores.OfertarInmueble"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.ListOfChats"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity
            android:name=".controladores.ChatAct"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Trobify.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="i0xgZIXUkBg2Hg0g5WyjOw" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="KWuRO85k2HN54edM9rQzV2yNr1BAISz5DQtbxHFVN-7WQyiwbHFN0--JbDc_KZTPlCKUSoGAIEJowimD9Yhhyw" />

        <activity android:name=".controladores.Register"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity
            android:name=".controladores.pantalla_inicial"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity
            android:name=".controladores.MainTrobify"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity
            android:name=".controladores.Mapa"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.FiltrosBusqueda"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".adapters.AdaptadorFichaInmueble"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.ListaFavoritos"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.GestionarInmueble"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.MisPisos"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.Login"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity android:name=".controladores.EliminarFotos"
            android:theme="@style/Theme.Trobify.NoActionBar" />
        <activity
            android:name=".controladores.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Trobify.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>